/*
@font-face {
	font-family: "inter";
	src: url("./static/fonts/Inter-Regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "inter";
	src: url("./static/fonts/Inter-Medium.woff2");
	font-weight: 500;
}

@font-face {
	font-family: "inter";
	src: url("./static/fonts/Inter-SemiBold.woff2");
	font-weight: 600;
}

@font-face {
	font-family: "inter";
	src: url("./static/fonts/Inter-Bold.woff2");
	font-weight: 700;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

html {
	background-image: url(./static/images/default_background.jpg);
	background-size: cover;
}

html::-webkit-scrollbar {
	width: 8px;
}
html::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}
html::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 10px;
}

img {
	object-fit: cover;
}

.hide-txt {
	overflow: hidden;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap;
}
